name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build Docker image
        run: |
          docker build \
            -t fcgregistrygabrielfg.azurecr.io/fiapcloudgames-promocoes:latest \
            .

      - name: Login to ACR
        run: |
          az acr login --name fcgregistrygabrielfg

      - name: Push Docker image to ACR
        run: |
          docker push fcgregistrygabrielfg.azurecr.io/fiapcloudgames-promocoes:latest

      - name: Deploy to Azure Web App
        run: |
          az webapp config container set \
            --name fiapcloudgames-promocoes-app \
            --resource-group fiapcloudgames-rg \
            --docker-custom-image-name fcgregistrygabrielfg.azurecr.io/fiapcloudgames-promocoes:latest \
            --docker-registry-server-url https://fcgregistrygabrielfg.azurecr.io
